
#gopng_1_outer {
height: 60px;
width: 19px;
overflow: hidden;
}
#gopng_1 {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_1_outer {
height: 60px;
width: 19px;
overflow: hidden;
}
#gopng_1 {
background: url(http://gopng/static/images/sprite.png) -293px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 293px;
_margin-left: -293px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_6_outer {
height: 57px;
width: 30px;
overflow: hidden;
}
#gopng_6 {
background: url(http://gopng/static/images/sprite.png) -81px -160px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 81px;
_margin-left: -81px;
_padding-top: 160px;
_margin-top: -160px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_6_outer {
height: 57px;
width: 30px;
overflow: hidden;
}
#gopng_6 {
background: url(http://gopng/static/images/sprite.png) -236px -3px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 236px;
_margin-left: -236px;
_padding-top: 3px;
_margin-top: -3px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_3_outer {
height: 57px;
width: 38px;
overflow: hidden;
}
#gopng_3 {
background: url(http://gopng/static/images/sprite.png) -73px -3px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 73px;
_margin-left: -73px;
_padding-top: 3px;
_margin-top: -3px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_5_outer {
height: 57px;
width: 43px;
overflow: hidden;
}
#gopng_5 {
background: url(http://gopng/static/images/sprite.png) -174px -3px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 174px;
_margin-left: -174px;
_padding-top: 3px;
_margin-top: -3px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_5_outer {
height: 57px;
width: 43px;
overflow: hidden;
}
#gopng_5 {
background: url(http://gopng/static/images/sprite.png) -380px -238px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 380px;
_margin-left: -380px;
_padding-top: 238px;
_margin-top: -238px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_2_outer {
height: 55px;
width: 20px;
overflow: hidden;
}
#gopng_2 {
background: url(http://gopng/static/images/sprite.png) -38px -5px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 38px;
_margin-left: -38px;
_padding-top: 5px;
_margin-top: -5px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_4_outer {
height: 54px;
width: 49px;
overflow: hidden;
}
#gopng_4 {
background: url(http://gopng/static/images/sprite.png) -114px -6px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 114px;
_margin-left: -114px;
_padding-top: 6px;
_margin-top: -6px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
